@import 'src/styles/mixins';

.nav {
  @include desktop-only {
    margin-right: $gapL;
    width: 20%;
  }

  border-right: 1px solid $lineColor;
}

.tab {
  @include desktop-only {
    max-width: none;
  }

  @include default-transition;
  @include font-size-l;
  color: $textColorLight;
  display: flex;
  flex: 1;
  height: $gapL;
  max-width: 50%;
  padding-left: $gapM;
  padding-right: $gapM;

  &_selected {
    background: $primaryBgColor;
    color: $primaryColor;
  }
}

.label {
  @include desktop-only {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }

  font-weight: bold;
}
