@import 'src/styles/mixins';

.detail {
  @include desktop-only {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  margin-bottom: $gapM;
  margin-top: $gapS;
  white-space: pre-wrap; // for values with new lines
}

.label {
  @include desktop-only {
    min-width: 10rem;
  }

  color: $textColorLight;
  margin-bottom: $gapS;
  margin-right: $gapM;
}
