@import 'mixins';

html {
  font-size: $baseFontSize;
}

body {
  @include font-size-m;
  color: $textColor;
  margin: 0;
  overflow-y: scroll; // to prevent resizing of page when scroll appears
  padding: 0;

  * {
    font-family: $mainFontFamily;
    font-weight: normal;
  }
}

a {
  color: $primaryColor;
}

h1 {
  @include desktop-only {
    @include font-size-xl;
    margin-bottom: $gapXl;
  }

  font-weight: bold;
  margin-bottom: $gapL;
  margin-top: 0;
}
