@import 'variables';

@mixin desktop-width {
  @include desktop-only {
    max-width: 100%;
    width: calc(#{$desktopWidth} + 2 * #{$gapL});
  }

  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gapL;
  padding-right: $gapL;
  width: 100%;
}

@mixin desktop-only {
  @media screen and (min-width: $breakpointMd + 'px') {
    @content;
  }
}

@mixin size($size) {
  height: $size;
  width: $size;
}

@mixin main-content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $desktopWidth;
  width: 100%;
}

@mixin default-transition {
  transition: 0.2s ease;
}


@mixin font-size-xl {
  font-size: map-get($fontSizes, xl);
}

@mixin font-size-l {
  font-size: map-get($fontSizes, l);
}

@mixin font-size-m {
  font-size: map-get($fontSizes, m);
}

@mixin font-size-s {
  font-size: map-get($fontSizes, s);
}

@mixin font-size-xs {
  font-size: map-get($fontSizes, xs);
}
