// colors
$primaryColor: #4d7cfe;
$primaryBgColor: #e5ecff;
$errorColor: #f84c1e;

$textColor: #3f3e3e;
$textColorLight: #778699;
$lineColor: #d7e1ea;

$white: #fff;

// breakpoints in px unit
$breakpointSm: 360;
$breakpointMd: 768;
$breakpointLg: 1180;
$breakpointXl: 1920;

// font and base size
$mainFontFamily: 'Open Sans', sans-serif;
$baseFontSize: 10px;

$fontSizes: (
  xl: 3.2rem,
  l: 1.6rem,
  m: 1.4rem,
  s: 1.2rem,
  xs: 1rem
);

// sizes

$desktopWidth: 110rem;
$gapXS: 0.5rem;
$gapS: 1rem;
$gapM: 2rem;
$gapL: 4rem;
$gapXl: 6rem;

$headerAndFooterHeight: 8rem;
