@import 'src/styles/mixins';

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContentWrapper {
  @include desktop-only {
    flex-direction: row;
    padding-bottom: $gapXl;
    padding-top: $gapXl;
  }

  @include main-content-width;

  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: $gapM;
}

.main {
  @include desktop-only {
    margin-top: 0;
  }

  box-sizing: border-box;
  margin-top: $gapM + $gapS;
  padding-bottom: $gapL;
  padding-left: $gapM;
  padding-right: $gapM;
  width: 100%;
}
