@import 'src/styles/mixins';

.form {
  @include desktop-only {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  @include desktop-only {
    padding-right: $gapL;
    width: 50%;
  }

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;

  & + .column {
    @include desktop-only {
      padding-left: $gapL;
      padding-right: 0;
    }
  }
}

.buttonWrapper {
  @include desktop-only {
    box-sizing: border-box;
    padding-right: $gapL;
    width: 50%;
  }
}
