@import 'src/styles/mixins';

$loaderSize: 4rem;
$loaderInnerCircleSize: 3.6rem;

.loader {
  @include size($loaderSize);
  display: inline-block;

  &::after {
    @include size($loaderInnerCircleSize);
    animation: dual-ring-loader 1.2s linear infinite;
    border: 4px solid $textColorLight;
    border-bottom-color: transparent;
    border-radius: 50%;
    border-top-color: transparent;
    content: ' ';
    display: block;
    margin: $gapS;
  }
}

@keyframes dual-ring-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
