@import 'src/styles/mixins';

$logoSize: 3rem;

.logo {
  @include size($logoSize);
  margin-right: $gapM;
}

.header {
  align-items: center;
  background: $primaryColor;
  border-bottom: 1px solid $lineColor;
  display: flex;
  height: $headerAndFooterHeight;
}

.contentWrapper {
  @include main-content-width;
  padding-left: $gapM;
  padding-right: $gapM;
}

.link {
  @include default-transition;
  @include font-size-l;
  align-items: center;
  color: $white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $primaryBgColor;
  }
}
