@import 'src/styles/mixins';

.fileWrapper {
  align-items: center;
  display: flex;
  margin-bottom: $gapM;
}

.iconButton {
  font-size: 2rem;
}

.thumb {
  height: auto;
  margin-right: $gapM;
  max-width: 2 * $gapXl;
  width: auto;
}
