@import 'src/styles/mixins';

.footer {
  align-items: center;
  border-top: 1px solid $lineColor;
  color: $textColorLight;
  display: flex;
  height: $headerAndFooterHeight;
  justify-content: center;
  margin-top: auto;
}

.contentWrapper {
  @include font-size-s;
  @include main-content-width;
  padding-left: $gapM;
  padding-right: $gapM;
  text-align: right;
}
