@import 'src/styles/mixins';

.details {
  @include desktop-only {
    padding-right: $gapL;
    width: 50%;
  }

  display: flex;
  flex-direction: column;
}

.profileWrapper {
  @include desktop-only {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  width: 100%;
}

.avatarWrapper {
  @include desktop-only {
    margin-left: auto;
    padding-left: $gapL;
    width: 50%;
  }
}

.avatar {
  height: auto;
  max-width: 100%;
  width: auto;
}
